.post_container {
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post_container h3 {
    margin-bottom: .2em;
}

.post_container p {
    text-align: justify;
    width: 80%;
}

.post_container .tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tags p {
    margin-right: 1em;
    text-align: center;
}

.tags span {
    font-weight: bold;
}